<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php.dist" colors="true">
    <php>
        <server name="KERNEL_DIR" value="./Tests/Functional/app" />
    </php>

    <testsuites>
        <testsuite name="TbbcCacheBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
